{% extends 'base.html' %}

{% block content %}
<div class="category">
    <img class="category-image" src="{{ category.featured_image.url }}" alt="category-image">
    <h1 class="category-heading">{{category.title}}</h1>
</div>

<div class="categories-header">
    <h2>Everything about {{category.title}}</h2>
    <i class="fa-solid fa-chevron-down arrow"></i>
</div>

<div class="post-wrapper">
    <div class="posts">
        {% for post in posts %}
            <div class="post-card">
                <a href="{% url 'post' post.id %}">
                    <img class="post-card-image" src="{{ post.featured_image.url }}" alt="post-image">
                    <h3 class="post-card-heading">{{ post.title }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}