{% extends 'base.html' %}

{% block content %}
<div class="post">
    <img class="post-image" src="{{ post.featured_image.url }}" alt="post-image">
    <h1 class="post-heading">{{post.title}}</h1>
</div>

<div class="post-header">
    <h2>Everything about {{post.title}}</h2>
    <i class="fa-solid fa-chevron-down arrow"></i>
</div>

<div class="post-wrapper">
    <p>{{post.content | safe}}</p>
</div>

<div class="comment-wrapper">
    <h4 class="comment-header">Comments</h4>
    <hr class="comment-linebreak">
    {% for comment in comments %}
        <div class="comment">
            <small class="comment-details">
                {{comment.user}} -- posted  {{comment.created_on | timesince}} ago
                {% if request.user == comment.user %}
                <a class="delete-comment" href="{% url 'delete-comment' comment.id %}"><i class="fa-solid fa-trash"></i></a>
                <a class="edit-comment" href="{% url 'update-comment' comment.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                {% endif %}
            </small>
            <p class="comment-body">{{comment.body}}</p>
        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="form-wrapper">
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="body" rows="4" placeholder="Write comment here...">
            <input class="form-btn" type="submit">
        </form>
    </div>
</div>
{% endif %}

{% endblock content %}