{% extends 'base.html' %}

{% block content %}
<div class="post">
    <img class="post-image" src="{{ post.featured_image.url }}">
    <h1 class="post-heading">{{post.title}}</h1>
</div>

<div class="post-header">
    <h2>Everything about {{post.title}}</h2>
    <i class="fa-solid fa-chevron-down arrow"></i>
</div>

<div class="post-wrapper">
    <p>{{post.content | safe}}</p>
</div>

<div class="comment-wrapper">
    <h4 class="comment-header">Comments</h4>
    <hr class="comment-linebreak">
    {% for comment in comments %}
        <div class="comment">
            <small class="comment-details">{{comment.user}} -- posted  {{comment.created_on | timesince}} ago</small>
            <p class="comment-body">{{comment.body}}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}