{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitFinity</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    <section class="hero-image" style="background-image: url('{% static 'images/banner.jpg' %}');">
        <div class="hero-backgorund">
            <div class="hero-text">
                <h1 class="hero-heading">FitFinity</h1>
                <p class="hero-p">
                    The largest bodybuilding portal
                </p>
            </div>
        </div>
    </section>
    
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
    
    {% include 'footer.html' %}

    <!-- Font owesome script -->
    <script src="https://kit.fontawesome.com/481ffab01d.js" crossorigin="anonymous"></script>
</body>
</html>